{% extends 'base.html'%}
{% block content%}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto table-bordered rounded pt-4">
            <h3 class=" alert alert-light border rounded mx-auto" >Login</h3>
            <form action="{% url 'login'%}" method="POST">
                {% csrf_token %}
                {%if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {%endif%}
                <div class="form-group">
                     <label for="">Email address</label>
                     <input required type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                 </div>
                <div class="form-group">
                     <label for="">Password</label>
                     <input type="password" class="form-control" id="" aria-describedby="emailHelp" placeholder="*******" name="password">
                </div>
                <div class="form-group">
                    <input required type="submit" class="btn btn" value="Login">
                </div>
            </form>

        </div>

    </div>
</div>

{%endblock%}